// unique colors

$white: #ffffff;
$coolRed: rgb(145, 49, 49);


$grayForTableHead: #F7F7F7;
$lightGray: #F3F3F3;
$coolBack: #FAFAFA;
$coolBack2: #E5E5E5;
$gray100: #E1E1E1;
$gray400: #9E9E9E;
$mediumGray: #808080;
$grayForTableHeadText: #7C7C7C;
$gray600: #626262;
$grayForTableText: #515151;

$blue500: #0967D2;
$blue500a: #0967d259;
$blue2: #0552B5;
$blue3: #E6F6FF;

$black17: #111111;

$blackyBlue: #373F41;

$lightGreen: #E3F9E5;
$darkGreen: #0E7817;
$brightRed: #E12D39;

$coolSkin: #F7F3EE;