@import "src/styling-constants/colors.scss";

$coolBlueShadow0: 0 0 6px rgba(35, 174, 255, 0.527); // box-shadow: 0 0 6px rgba(35, 174, 255, 0.527);
$coolBlueShadow: 0 0 6px $blue500a; // box-shadow: 0 0 6px rgba(35, 174, 255, 0.527);

$generalShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
