@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  // border: 1px solid red;
  background-color: white;
  // padding: clamp(20px, 5%, 96px);
  padding-bottom: 80px;
  display: flex;
  justify-content: center;

  // padding-top: 148px;

  // @media (max-width: 1000px) {
  //   padding-top: 135px;
  // }

  // @media (max-width: 500px) {
  //   padding-top: 116px;
  // }

  .center {
    width: 100%;
    // max-width: min(1728px, 100%);
    max-width: 100%;
    // width: 1728px;
    // border: 1px solid blue;

    // .mainTop {}

    // .generalBox {}
  }
}
