@import "src/styling-constants/colors.scss";

.ground {
  position: relative;
  // text-align: center; text-align: -webkit-center;

  margin: 0px;

  font-weight: 300;
  font-size: calc(1.125 * var(--glo7-font-size));
  font-weight: 500;
  // margin-bottom: 24px;

  color: $gray600;

  .wrapSpan {
    // text-align: center; text-align: -webkit-center;
    line-height: 24px;
  }
}
