@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  max-width: 100%;
  overflow-wrap: anywhere;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5px;

  &:hover {
    cursor: pointer;
  }

  // .select {
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   outline: none;
  //   border: none;

  //   &:hover {
  //     cursor: pointer;
  //   }

  //   position: absolute;
  //   left: 0px;
  //   top: 0px;
  //   // width: 100%;
  //   // height: 100%;
  //   background-color: transparent;
  //   border-radius: 6px;
  //   z-index: 1;

  //   width: 98px;
  //   height: 32px;
  //   border-radius: 6px;

  //   padding-left: 10px;

  //   font-size: calc(1 * var(--glo7-font-size));
  //   // color: $blackyBlue;
  //   color: transparent;

  //   &:-moz-focusring {
  //     color: transparent;
  //     text-shadow: 0 0 0 #000;
  //   }
  //   .option {
  //     color: initial;
  //     font-family: "Neue Haas Grotesk Display";
  //   }
  // }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    max-width: 300px;
    width: 100%;

    min-width: 40px;
    min-height: 32px;
    background-color: $lightGray;
    border-radius: 6px;
    padding-right: 12px;
    padding-left: 12px;

    &.style4 {
      background-color: white;
    }

    &.vis {
      &.style4 {
        // background-color: rgb(231, 240, 251);

        .title.title.title {
          color: $blue500;
        }

        svg {
          * {
            stroke: $blue500;
          }
        }
      }
    }

    .title {
      // position: absolute;
      // left: 10px;
      // top: 50%;
      // transform: translateY(-50%);
      // max-width: 100%;

      max-width: calc(100% - 25px);

      display: flex;
      align-items: center;
      color: rgb(55, 63, 65);
      font-size: calc(1 * var(--glo7-font-size));

      .regularTitle {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.style1 {
        // font-weight: 500;
        // font-size: calc(1.125 * var(--glo7-font-size));
        color: $black17;
      }

      .currItemAsTitle {
        // max-width: 100%;
        font-size: calc(1 * var(--glo7-font-size));
        font-weight: 500;
        color: $black17;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // .downArrow {
  //   // position: absolute;
  //   // right: 6px;
  //   // top: 50%;
  //   // transform: translateY(-50%);
  // }

  .choose {
    position: absolute;

    z-index: 2;
    top: calc(100% + 5px);

    // left: 50%;
    // transform: translateX(-50%);
    // right: -10px;
    left: 50%;
    transform: translateX(-50%);
    // width: max-content;
    min-width: 100%;
    // max-width: 140px;
    // overflow-wrap: anywhere;
  }
}
