@import "src/styling-constants/colors.scss";

.ground {
  padding-left: clamp(20px, 5%, 96px);
  padding-right: clamp(20px, 5%, 96px);
  margin-bottom: 120px;

  @media (max-width: 800px) {
    margin-bottom: 80px;
  }

  @media (max-width: 600px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mainBox {
    // background-color: antiquewhite;
    min-height: 400px;

    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.scrollVideoBox {
  // height: 4000px;

  .content {
    // height: 100vh;
    width: 100%;
    // position: sticky;
    // top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .myVideo {
    width: 100%;
  }
}

.parentOfSticky {
  height: 2600px;
  width: 100%;

  .theSticky {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: calc(100% - 20px);
    /* max-height: 80vh; */
    /* height: auto; */
    // height: 4000px;
    // border: 2px solid red;
    width: 100%;

    position: sticky;
    top: 0;
    // left: 0;

    @media (max-width: 900px) {
      height: 90vh;
    }

    .canvas {
      // padding-top: 100px;

      width: 100%;
    }
  }
}
