@import "src/styling-constants/colors.scss";

.ground {
  width: 32px;
  height: 32px;
  background-color: $gray100;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
  }

  .closeSvg {
    position: static; // important for overflow: hidden; and cursor: pointer; of the parent div
  }
}
