@import "src/styling-constants/colors.scss";

.ground {
  position: relative;
  min-width: 10px;

  .ground2 {
    position: relative;
    width: 100%;

    .myDiv {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  }
}

.ground2 {
  padding-top: 100%; // based on width of its parent. let make 100% as default.
}
