@import "src/styling-constants/colors.scss";

.ground {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  .wrapSpan {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    .leftSide {
      display: flex;
      border-bottom: 1px solid $gray100;
      height: 0px;
      flex-grow: 1;
    }

    .text {
      margin-left: 5px;
      margin-right: 5px;
      color: $gray400;
      font-size: calc(0.75 * var(--glo7-font-size));
    }

    .rightSide {
      display: flex;
      border-bottom: 1px solid $gray100;
      height: 0px;
      flex-grow: 1;
    }
  }
}
