@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./fonts/neue-haas-grotesk-display-std/NHaasGroteskDSStd-45Lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./fonts/neue-haas-grotesk-display-std/NHaasGroteskDSStd-55Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./fonts/neue-haas-grotesk-display-std/NHaasGroteskDSStd-65Md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("./fonts/neue-haas-grotesk-display-std/NHaasGroteskDSStd-75Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

// online fonts:
/*
@font-face {
  font-family: "Neue Haas Grotesk Display";
  font-weight: 400;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-roman.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-roman.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-roman.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-roman.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-roman.ttf")
      format("truetype");
}


@font-face {
  font-family: "Neue Haas Grotesk Display";
  font-weight: 500;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-medium.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-medium.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-medium.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-medium.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-medium.ttf")
      format("truetype");
}


@font-face {
  font-family: "Neue Haas Grotesk Display";
  font-weight: 700;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-bold.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-bold.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-bold.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-bold.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-bold.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-bold.ttf")
      format("truetype");
}


@font-face {
  font-family: "Neue Haas Grotesk Display";
  font-weight: 900;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-black.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-black.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-black.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-black.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-black.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-display-black.ttf")
      format("truetype");
}

// -----------------------------------

// additional:
@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 400;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-roman.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-roman.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-roman.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-roman.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-roman.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-roman.ttf")
      format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 500;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-medium.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-medium.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-medium.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-medium.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-medium.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 700;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-bold.eot");
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-bold.eot?#iefix")
      format("embedded-opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-bold.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-bold.woff2")
      format("woff2"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-bold.woff")
      format("woff"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/neue-haas-grotesk-text-bold.ttf")
      format("truetype");
}

// additional 2:

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 400;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-55Rg.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-55Rg.ttf")
      format("truetype");
}


@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 500;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-65Md.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-65Md.ttf")
      format("truetype");
}


@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 700;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-75Bd.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-75Bd.ttf")
      format("truetype");
}


@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 900;
  font-style: normal;
  src: url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-95Blk.otf")
      format("opentype"),
    url("//res.cloudinary.com/bedrosians/raw/upload/v1/fonts/NHaasGroteskDSPro-95Blk.ttf")
      format("truetype");
}
*/
// ---------------

// @import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

// :root {
//   background-color: rgb(252, 244, 234);

//   --glo7-font-size: 16px; // as default
//   --glo7-font: "Neue Haas Grotesk Display"; // as default

//   //

//   &[data-lang="en"] {
//     --glo7-font-size: 16px; // for 1 rem value
//     --glo7-font: "Neue Haas Grotesk Display";
//   }

//   &[data-lang="ka"] {
//     // --glo7-font-size: 14.5px; // for 1 rem value
//     // --glo7-font: "Neue Haas Grotesk Display", "sylfaen";
//     --glo7-font: "Neue Haas Grotesk Display";
//   }

//   &[data-lang="ru"] {
//     // --glo7-font-size: 16px; // for 1 rem value
//     --glo7-font: "Neue Haas Grotesk Display";
//   }

//   //

//   font-family: var(--glo7-font);
//   font-size: var(--glo7-font-size);
// }

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   position: relative;
// }

// :root {
//   overflow: initial !important; // without it, the sticky element may not work
// }

// for host page (Bedrosians stage):
.footer.footer.footer {
  .footer-container .logo-list {
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    row-gap: 10px;
    column-gap: 10px;

    .logos {
      min-width: 160px;
      min-height: 72px;
    }
  }

  .icons-container {
    flex-wrap: wrap;
  }
}

.ng-scope .site-header-menu-buttons {
  flex-wrap: wrap;
}

//  COMMENT OUT IF YOU WANT THIS PROJECT TO BE INJECTED INTO A DIV OF ANOTHER WEBPAGE
// /*
body {
  margin: 0;
  //  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background-color: rgb(223, 223, 223);
  background-color: white;
}

:root,
body {
  height: 100%;
}
// */

// safe SCSS to inject in other webpage

// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================

.rootoflanding01 {
  // border: 3px solid blue;
  overflow-wrap: anywhere;
  height: 100%; // --------------

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    position: relative;
  }

  background-color: rgb(252, 244, 234);

  --glo7-font-size: 16px; // as default
  --glo7-font: "Neue Haas Grotesk Display"; // as default

  //

  &[data-lang="en"] {
    --glo7-font-size: 16px; // for 1 rem value
    --glo7-font: "Neue Haas Grotesk Display";
  }

  &[data-lang="ka"] {
    // --glo7-font-size: 14.5px; // for 1 rem value
    // --glo7-font: "Neue Haas Grotesk Display", "sylfaen";
    --glo7-font: "Neue Haas Grotesk Display";
  }

  &[data-lang="ru"] {
    // --glo7-font-size: 16px; // for 1 rem value
    --glo7-font: "Neue Haas Grotesk Display";
  }

  //

  font-family: var(--glo7-font);
  font-size: var(--glo7-font-size);

  .swiper-slide {
    // fix for Safari flickering/flashing/gliching
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .App {
    height: 100%;
  }

  .AppWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // justify-content: space-between;

    min-height: 100%;
    max-height: 100%;

    .devControlArrow {
      background-color: #d5e5ff41;
      // position: fixed;
      position: absolute;
      z-index: 90;
      left: 2px;
      top: 3px;

      border: 2px solid rgba(65, 71, 80, 0.596);

      transform-origin: top left;
      transform: scale(0.7);
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }

    .devControl {
      width: 100%;
      z-index: 85;
      display: none;
      // border: 1px solid red;
      background-color: rgb(65, 71, 80);

      min-height: 32px;

      flex-grow: 0;
      flex-shrink: 0;

      padding-left: 42px;

      column-gap: 20px;
      row-gap: 6px;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 4px;
      padding-bottom: 4px;

      &.showDevControl {
        display: flex;
      }
    }

    // .App {}
  }

  .App {
    // border: 1px solid red;
    flex-grow: 1;
    flex-shrink: 1;

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // justify-content: space-between;

    min-height: 100%;
    max-height: 100%;
    // overflow: hidden;

    .appPopupPortal {
      position: absolute;

      left: 0px;
      right: 0px;

      top: 0px;
      bottom: 0px;

      // z-index: 1000;

      // .chchch {
      //   background-color: aqua;
      //   width: 200px;
      //   height: 200px;

      //   z-index: 2000;
      // }
    }

    .appTop {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .appBodyWrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      // column-gap: 16px;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto; // ------------------------------------- may spoil sticky

      // DEPRICATED !!!
      .sidebarContainer {
        --max-width-for-sb-deskt: 300px;
        // display: none;
        // white-space: nowrap;
        // max-width: 150px;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        // padding: 8px;
        // border: 1px solid blue;

        overflow: auto;

        max-width: var(--max-width-for-sb-deskt);
        min-width: 0px;

        transition: max-width 0.5s ease-in-out, min-width 0.5s ease-in-out;

        overflow-x: hidden;

        &.hideSb {
          max-width: 0px;
          min-width: 0px;
          // padding-left: 0px;
          // padding-right: 0px;
          // border: none;
        }

        & > div {
          flex-grow: 1;
          flex-shrink: 0;
          // min-height: 100%;
          // max-height: 100%;
        }

        @media (max-width: 1004px) {
          // max-width: var(--max-width-for-sb-deskt);
          max-width: 100%;
          min-width: 100%;
          z-index: 100;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;

          // &.hideSb {
          //   // right: -100px;
          //   // transform: translateX(100px);
          //   // max-width: var(--max-width-for-sb-deskt);
          // }
        }
      }

      .appBody {
        max-width: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        // max-height: 100%;
        overflow: auto; // ----------------------------- may spoil sticky

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        // border: 5px solid red;
        // margin-top: 3px;

        // width: 100%;
        // height: calc(100vh - 88px - 1px);

        // @media (max-width: 604px) {
        //   // height: calc(100vh - 67px - 1px);
        // }

        .mainBody {
          min-height: 500px;
          // border: 1px solid rgb(81, 243, 221);

          flex-grow: 1;
          flex-shrink: 0;

          & > div:first-child {
            min-height: 100%;
            padding-bottom: 100px;
          }
        }

        .appFoot {
          // border: 1px solid blue;
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }
}

.rootoflanding01 {
  input,
  textarea:focus,
  input:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }

  input[type="checkbox" i] {
    &:hover {
      cursor: pointer;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: rgba(9, 103, 217, 0.726);

    // -webkit-box-shadow: 0 0 0 1000px #28db55bd inset !important; // maybe not needed
    // box-shadow: 0 0 0 1000px #28db55bd inset !important; // maybe not needed
  }

  // For Safari
  ::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
  }

  // for Edge
  ::-ms-reveal {
    display: none;
  }

  // Works on Firefox
  * {
    scrollbar-width: thin;
    scrollbar-color: #7098ddbe #d5e5ff;
  }

  // Works on Chrome
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    // border: 5px solid transparent;
    // background-clip: content-box;
    // background-color: rgb(49, 152, 221);
    background-color: rgba(105, 145, 214, 0.699);

    &:hover {
      background-color: rgba(88, 141, 240, 0.842);
    }
  }
}

// Works on Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: #7098ddbe #d5e5ff;
}

// Works on Chrome
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  // border: 5px solid transparent;
  // background-clip: content-box;
  // background-color: rgb(49, 152, 221);
  background-color: rgba(105, 145, 214, 0.699);

  &:hover {
    background-color: rgba(88, 141, 240, 0.842);
  }
}
